#cloud-config
datasource:
  Ec2:
    strict_id: false
ssh_pwauth: no
users:
  - name: st-t-postgres
    sudo: "ALL=(ALL) NOPASSWD:ALL"
    shell: /bin/bash
    ssh_authorized_keys:
      - ssh-rsa AAAAB3NzaC1yc2EAAAADAQABAAABAQC4euZHbJ7gotvGExbz7MizamlxXRNoggVDV6uM6bXamgCCb3SmdhyByAW8/1PcnV0HJV+HhSwLGNxhF7chH/um68tlz3SUaCQLjwEyemxeXqQHj2ORs6h903tkHE1UbDBNPYPgyD+u8fg9/PlMweR8w0DikwMCUQ40cmYW72bSVKSHtozCRXSNjKyAsIa0Iay7Vj2FGT4k0em8aA2xONP+Y4xUiz4bUKksxzCZnPEWjrT6noS6eV7q0G0eDIUFWnjnlFZSxl/kOPDCFRc6FyMZe3zrB5atnR7y0EviuaNLPEmVcsdyoK8fyRasfPzIrMQywRaFAYTYp0O9gGU27+GJ
