name: Build and Push Docker image

on:
  push:
    tags:
      - "*"

jobs:
  docker-build-and-push:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout
        uses: actions/checkout@v5
        with:
          submodules: false
      - name: Name lowercase
        id: lowercase
        uses: vishalmamidi/lowercase-action@v1
        with:
          string: ${{ github.repository }}
      - name: Set up Docker Buildx
        uses: docker/setup-buildx-action@v3
      - name: Log in to GitHub Docker Registry
        uses: docker/login-action@v3
        with:
          registry: ghcr.io
          username: ${{ github.actor }}
          password: ${{ secrets.GITHUB_TOKEN }}
      - name: Build and push
        uses: docker/build-push-action@v6
        with:
          push: true
          file: Dockerfile
          build-args: |
            VERSION=${{ github.ref_name }}
            GITHUB_TOKEN=${{ secrets.PERSONAL_ACCESS_TOKEN }}
            GITHUB_USER=${{ github.actor }}
          platforms: linux/amd64
          github-token: ${{ secrets.PERSONAL_ACCESS_TOKEN }}
          tags: |
            ghcr.io/${{ steps.lowercase.outputs.lowercase }}:${{ github.ref_name }}.${{ github.run_number }}
            ghcr.io/${{ steps.lowercase.outputs.lowercase }}:latest
